body{   /*override the default browser style sheet*/
    margin: 0;
    paadding: 0;
    font-family: 'Oswald' sans-serif;
}
nav ul {
    list-style: none;
    text-align: center;
    background-color: #4a4a4f;
    padding: 0;
    margin: 0;
}
nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    margin: 2.5%;
    display: inline-block;
}
nav a {
    color: #fff;
    display: block;
    text-decoration: none;
}
nav a:hover {
    color: #4a4a4f;
    background-color: #fff;
}
.card {
    float: left;
    width: 15%;
    margin-left: 15%;
  }
  
  .card a {
    text-align: center;
  }
  
  img {
    width: 100%;
    height: 180px;
  }
  
  h1 {
    text-align: center;
  }